@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

a,
li {
  font-family: 'Poppins', sans-serif;
}

img {
  max-width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  border: 1px solid sandybrown;
  margin: 1rem;
}

/* ********************** */
/* main styles */

.display-lg--visible {
  display: none;
}

.center-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn--blue {
  background-color: #3861f6;
  color: #fefefe;
  font-size: 1.2rem;
  text-transform: uppercase;
  border-radius: 15px;
  font-weight: 700;
  border: none;
  padding: 0.8rem 1.2rem;
  font-size: 1.1rem;
}

.btn--red {
  background-color: #f63838;
  color: #fefefe;
  font-size: 1.2rem;
  text-transform: uppercase;
  border-radius: 15px;
  font-weight: 700;
  border: none;
  padding: 0.8rem 1.2rem;
  font-size: 1.1rem;
}

.btn--blue:disabled {
  opacity: 0.6;
}

.btn--black {
  background-color: #000;
  color: #ffffff;
  border-radius: 15px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  align-self: center;
  padding: 0.4rem 1rem;
}

.text--blue {
  color: #173dc4;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.container__image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-small--hidden {
  display: none;
  background-color: red;
}

.link {
  text-decoration: none;
}

.hidden {
  visibility: hidden;
}

.menu-bg {
  position: absolute;
  z-index: 1;
  width: 90%;
  height: 100vh;
}

.section__title {
  font-size: 1.75rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.25px;
  color: #313131;
  margin: 0 auto;
  max-width: 200px;
  text-align: center;
}

.info-icon {
  color: #e2e2e2;
  margin-left: 0.5rem;
  padding: 0 0.5rem;
}

.boards-list__container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 160px);
  grid-auto-rows: 200px;
  gap: 10px;
  background-color: #f0f0f0;
  padding: 1rem 0;
}

.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item__title {
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
  max-width: 100%;
}

.item__text {
  font-size: 0.8rem;
  max-width: 100%;
  /* max-height: 50%; */
  overflow-wrap: anywhere;
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: wrap; */
  /* inline-size: 150px; */
  /* overflow-wrap: break-word; */
  /* hyphens: manual; */
  /* white-space: nowrap; */
  /* overflow: hidden; */
}

.section__header__button {
  position: absolute;
  top: 14%;
  right: 3%;
  border-radius: 25px;
  padding: 0.3rem 0.7rem;
  font-size: 0.9rem;
}

.section__header__button--secondary {
  top: 14%;
  right: 15%;
}

.section__header {
  position: relative;
  margin-bottom: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.5rem;
  padding: 0.5rem;
}

.section__header__board-page__about,
.section__header__note-page {
  padding: 1.5rem;
}

.section__header__note-page {
  margin-top: 0;
}

/* Modals */
.modal-hidden {
  display: none; /* Hidden by default */
}

.modal-show {
  display: block; /* Hidden by default */
}

.container--modal {
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
}

.modal {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  top: 100px;
  background-color: #fefefe;
  margin: 0 auto;
  width: 80%;
  padding: 20px;
  border-radius: 30px;
  margin: 0 auto;
  /* left: 50%; */
}

.modal-content__form {
  max-width: 600px;
}

.modal__header {
  position: relative;
  margin-bottom: 0.3rem;
}

.modal__title {
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0.5rem;
}

.modal__btn--close {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 3px;
  right: 0;
}

.modal__btn--close > svg {
  color: rgb(0, 0, 0);
}

.modal__form {
  font-size: 1rem;
}

.modal__form__container__input {
  margin-bottom: 0.7rem;
}

.modal__form__container__date {
  margin-bottom: 0.8rem;
}

.modal__form__container__date + .modal__form__container__date {
  margin-bottom: 1rem;
}

.modal__form__label {
  font-weight: 500;
  margin-bottom: 0.3rem;
  font-size: 0.9rem;
}

.modal__form__container__input--label {
  align-items: center;
  margin-bottom: 0.5rem;
}

.modal__form__container__input--label > .modal__form__label {
  margin: 0;
}

.modal__form__input {
  border-radius: 8px;
  border: 1.5px solid black;
  font-size: 0.8rem;
  padding: 0.2rem 0.4rem;
}

.modal__form__btn {
  margin: 0 auto;
  border-radius: 35px;
  font-size: 0.9rem;
  padding: 0.5rem 1.1rem;
  display: block;
  margin: 0 auto;
}

.react-date-picker__wrapper {
  border-radius: 15px;
  border: 1px solid black;
  padding: 3px 6px;
  font-size: 0.9rem;
}

.modal__form__select {
  border-color: black;
}

.modal-error {
  background-color: #e94747;
  color: #ffffff;
  align-items: center;
  justify-content: space-between;
  max-width: 50%;
  padding: 1.25rem 3rem 1.25rem 2rem;
}

.fa-xmark {
  color: #ffffff;
  font-size: 1.25rem;
}

.modal-error__btn {
  background-color: transparent;
  border: none;
}

.modal__text--prompt {
  text-align: center;
  margin: 0.6rem 0 1rem 0;
  font-size: 1rem;
  letter-spacing: 0.5px;
}

.modal__btn--prompt {
  font-size: 0.8rem;
  padding: 0.4em 0.8em;
}

.modal__btn--prompt + .modal__btn--prompt {
  margin-left: 0.5rem;
}

/* modal */

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Home page */

.btn--auth {
  background-color: transparent;
  color: #3861f6;
  border-radius: 15px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
}

.btn--auth + .btn--auth {
  margin-left: 0.5rem;
}

.home-header {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 1.5rem;
}

.home-main {
  margin: 0 1rem;
  min-height: 75vh;
  align-items: center;
  justify-content: center;
}

.home-main__btn--blue {
  align-self: center;
}

.home-main__text {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  text-align: center;
  max-width: 600px;
}

.floating-menu {
  position: absolute;
  z-index: 1;
  left: 30px;
  background-color: #fefefe;
  color: rgb(51, 51, 51);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  align-items: center;
  padding: 0.6rem;
  min-width: 130px;
  font-size: 0.7rem;
  line-height: 1rem;
}

.info-icon {
  position: relative;
}

/* auth pages */

.auth-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem 1rem;
}

.auth-header__link {
  width: 125px;
}

.auth-layout {
  min-height: 70vh;
}

.auth-section__form {
  border: 1px dashed black;
  padding: 1.5rem 1rem;
  margin: 1rem;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
}

.auth-form__title {
  font-size: 2.25rem;
  text-align: center;
  font-weight: 600;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

.auth-form > label {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.6rem;
}

.auth-form > input {
  border: 1px solid black;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  margin-bottom: 1.5rem;
}

.auth-toggle__label {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.auth-toggle__checkbox {
  margin-right: 0.5rem;
}

.auth-form__container--link {
  margin-top: 1rem;
}

.auth-form__link {
  /* outline: none; */
  text-decoration: none;
  color: #000;
  font-weight: 600;
  margin-left: 0.3rem;
}

/*  dash pages */

.dash-header {
  justify-content: space-between;
  padding: 0rem 1.5rem;
  position: relative;
}

.dash-header__btn--nav {
  background-color: transparent;
  border: none;
}

.fa-bars {
  color: #888888;
  font-size: 1.1rem;
}

.dash-header__nav {
  background-color: #fefefe;
  font-size: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  align-items: center;
  padding: 1rem 0.8rem;
  font-weight: 500;
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  top: 60px;
  line-height: 1rem;
}

.dash-header__nav > a {
  text-transform: uppercase;
  color: #888888;
  text-decoration: none;
  /* margin-bottom: 0.5rem; */
}

.dash-container {
  height: 100vh;
  background-color: #f0f0f0;
}

.profile-tab {
  position: relative;
  font-size: 0.8rem;
  font-weight: 400;
  color: #959595;
}

.profile-tab__menu__btn {
  font-size: 1.3rem;
  color: #ffffff;
  background-color: aquamarine;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  font-weight: 500;
  border: none;
}

.profile-tab__menu {
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  align-items: center;
  position: absolute;
  border-radius: 10px;
  top: 60px;
  right: 0%;
  z-index: 5;
  padding: 1em;
  border: 5px;
  letter-spacing: 0.03em;
}

.profile-tab__menu__list {
  justify-content: center;
  line-height: 1.1rem;
}

.profile-tab__menu__item > .link {
  color: #959595;
}

.profile-tab__menu__item {
  margin-bottom: 0.5em;
}

/* user profile */
.user-profile {
  background-color: #3861f6;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.user-profile__main {
  margin-top: 2.5rem;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 10px;
  padding: 4rem 2rem 1.5rem;
  min-width: 40%;
}

.user-profile__container__main--info {
  margin-bottom: 1rem;
}

.user-profile__username {
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
  position: relative;
  top: -20px;
}

.user-profile__container {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 1.25rem 1.4rem;
  min-height: 50%;
}

.user-profile__container--info {
  font-size: 0.9rem;
  margin-bottom: 1.2rem;
}
/* 
.user-profile__info {
} */

.user-profile__info > strong {
  font-weight: 600;
  margin-right: 1rem;
}

.user-profile__btn {
  font-size: 0.8rem;
  align-self: center;
}

.user-profile__picture {
  font-size: 5rem;
  color: #ffffff;
  background-color: aquamarine;
  border-radius: 50%;
  height: 8rem;
  width: 8rem;
  font-weight: 500;
  border: none;
  position: relative;
  align-self: center;
  top: -50px;
}

.user-profile__main-edit {
  padding: 2.5rem 1.2rem 1.8rem;
}

.user-profile__title {
  margin-bottom: 1rem;
}

.user-profile__info__label {
  font-weight: 500;
}

.user-profile__container-label {
  font-size: 0.8rem;
  align-items: center;
  padding: 0.3rem 0.8rem 0.3rem 0;
  width: 80%;
}

.user-profile__info__input {
  margin-bottom: 0.3rem;
  border-radius: 5px;
  border: 1px solid rgb(46, 46, 46);
  padding: 0.3rem 0.5rem;
}

.user-profile__container--info-edit {
  padding: 0.5rem;
}

.board-item {
  border-radius: 10px;
  background-color: #ffffff;
  padding: 1.2rem 2rem;
}

.board-item__content {
  height: 100%;
}

.board-item__status {
  font-weight: 600;
  font-size: 0.6rem;
  text-align: end;
  margin-bottom: 0.7rem;
}

.board-item__title {
  margin-bottom: 0.5rem;
}

.board-item__button {
  display: block;
  border-radius: 15px;
  border: none;
  padding: 0.3rem 0.6rem;
  color: #ffffff;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  align-self: center;
  justify-self: flex-end;
  margin-top: auto;
}

.board-page__nav {
  background-color: #ffffff;
  padding: 0.8rem 1rem;
  display: flex;
  align-items: center;
  border-top: 1px solid #d6d6d6;
  border-bottom: 1px solid #d6d6d6;
}

.board-page__nav__container--links > a {
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
}

.board-page__nav__container--btns {
  margin-left: auto;
}

.board-page__nav__btn {
  padding: 0.3rem 0.5rem;
  font-size: 0.75rem;
}

.board-page__nav__btn + .board-page__nav__btn {
  margin-left: 0.5rem;
}

.board-page__date {
  text-align: center;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

.article--white {
  background-color: #ffffff;
  border-radius: 10px;
}

.article__about {
  font-size: 0.9rem;
  padding: 1.5rem 1.25rem;
  width: 90%;
  margin: 0 auto;
  max-width: 1000px;
}

.article__about__title {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0.5rem;
}

.article__about__container__text {
  border: 1px solid black;
  border-radius: 2px;
  margin: 0.2rem 0 0.5rem 0;
  padding: 0.3rem;
  overflow-wrap: break-word;
}

.article__about__label {
  font-weight: 600;
  text-transform: capitalize;
}

.article__about__text--private {
  text-transform: capitalize;
}

.article__about__grid {
  display: grid;
  grid-template-columns: 160px auto;
  gap: 7px 10px;
}

.article__about__container--users {
  display: grid;
  grid-template-columns: repeat(auto-fill, 35px);
  gap: 5px 3px;
}

.note-item {
  border-radius: 10px;
  background-color: #ffffff;
  padding: 1.2rem 2rem;
}

.note-item__container--grid {
  display: grid;
  grid-template-columns: 50% auto;
  column-gap: 5px;
}

.note-item__title {
  margin-bottom: 0.5rem;
}

.note-item_-text {
  margin-bottom: 0.25rem;
}

.note-item__date {
  margin: auto 0;
}

.join-board {
  height: 80vh;
}

.join-board__article {
  padding: 2rem 2rem;
  width: 80%;
  max-width: 600px;
  flex-direction: column;
}

.join-board__article__text {
  line-height: 1.5rem;
}

.join-board__form {
  width: 80%;
  margin-top: 1rem;
}

.join-board__article__label {
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: 0.3px;
  margin-bottom: 0.5rem;
}

.join-board__article__input {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 10px;
  padding: 0.5rem 1rem;
}

.join-board__article__btn {
  font-size: 1rem;
  margin-top: 0.8rem;
  align-self: center;
}

@media (min-width: 600px) {
  .display-lg--visible {
    display: none;
  }

  .btn--blue {
    font-size: 1.2rem;
  }

  .section__header__button {
    font-size: 0.9rem;
  }

  .section__header__button--secondary {
    right: 25%;
  }

  .section__header__button > svg {
    margin-left: 0.3rem;
  }

  .btn--auth {
    background-color: #3861f6;
    color: #fefefe;
    padding: 0.8rem 1.2rem;
    font-size: 1.2rem;
  }
  .section__title {
    max-width: 300px;
  }
}

@media (min-width: 1000px) {
  .modal__header {
    margin-bottom: 1.5rem;
  }

  .modal__form {
    font-size: 1.2rem;
  }

  .modal__form__label {
    font-size: 1rem;
  }

  .modal__form__input {
    font-size: 1rem;
  }

  .modal__btn--prompt {
    font-size: 1rem;
  }

  .react-date-picker__wrapper {
    font-size: 1rem;
  }

  .item__title {
    font-size: 1.4rem;
  }

  .item__text {
    font-size: 0.9rem;
  }

  .display-lg--visible {
    display: block;
  }

  .home-header {
    padding: 2rem 4rem;
  }

  .btn--auth + .btn--auth {
    margin-left: 1.75rem;
  }

  .home-main {
    justify-content: space-around;
  }

  .home-main__text {
    text-align: start;
    font-size: 2rem;
    max-width: 700px;
  }

  .home-main__btn--blue {
    background-color: #3861f6;
    color: #fefefe;
    padding: 0.7em 1.2em;
    align-self: start;
  }

  .home-main__container--logo {
    display: block;
  }

  .home-main__container--secondary {
    width: 25%;
  }

  .auth-header {
    justify-content: flex-start;
  }

  .dash-header__btn--nav {
    visibility: hidden;
  }

  .dash-header__nav {
    visibility: visible;
    flex-flow: row;
    box-shadow: none;
    top: auto;
    align-self: center;
  }

  .dash-header {
    padding: 0rem 2rem;
  }

  .section__header {
    margin-top: 1rem;
  }

  .section__header__button--secondary {
    right: 200px;
  }

  .section__title {
    max-width: 600px;
  }

  .section__header__board-page__about {
    margin-top: 1.5rem;
  }

  .section__header__note-page {
    margin-top: 0;
  }

  .section__header__title {
    font-size: 2.5rem;
  }

  .user-profile__username {
    font-size: 1.7rem;
  }

  .user-profile__container--info {
    font-size: 1.2rem;
  }

  .user-profile__container-label {
    font-size: 1.2rem;
  }

  .boards-list__container {
    padding: 1rem;
    grid-template-columns: repeat(auto-fill, 220px);
    grid-auto-rows: 260px;
    gap: 20px;
  }

  .board-page__nav__btn {
    padding: 0.3rem 0.6rem;
    font-size: 0.9rem;
  }

  .article__about {
    font-size: 1rem;
    padding: 1.8rem 1.5rem;
  }

  .article__about__grid {
    gap: 10px 15px;
  }

  .article__about__title {
    font-size: 2.5rem;
    margin-bottom: 0.75rem;
  }

  .article__about__container__text {
    margin: 0.5rem 0 0.8rem 0;
  }
}
